         <br>
         <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta dolorem itaque nihil officiis
             rerum saepe sint voluptatem? Aliquam assumenda eum laboriosam laborum maiores minima nulla, odit omnis
             perferendis quaerat, reiciendis sequi sint sit ullam velit veniam vitae voluptatem voluptatum.
         </div>
         
 <%= content_for :titulo, "OrigamiMania" %>
 
